* {
  box-sizing: border-box;
}
  #container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-areas: 
    'nav nav nav nav'
    'mn mn mn mn'
    'ft ft ft ft'
}

nav {
    grid-area: nav;
    background-color: #003049;
    height: 17vh;
}

h5 {
  font-size: 3vh;
  margin: 10px;
  font-weight: lighter;
}

#sok-text {
    border: none;
    background: none;
    outline: none;
    padding: -5px;
    color:black;
    font-size: 1em;
    line-height: 5vh;
    width: 70vw;
    margin-left: 10%;
    margin-left: 5%;
    margin-top: 10%;
    grid-area: navv;
    background: #375468;
    height: 3vh;
    width: 80vw;
    border-radius: 40px;
    padding: 10px; 
    }

    .slider {
      width: 80vw;
      height: 20vh;
      display: flex;
      overflow-x: auto;
      background-color: rgb(247, 247, 247);
      border-radius: 10px;
      margin-left: 10%;
    }
    .slide {
      width: 40vw;
      flex-shrink: 0;
      height: 1vh;
      margin-left: 30%;
    }

    img {
      height: 25vh;
    }
    
main {
    grid-area: mn;
    background-color: white;
}

#homebutton1 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #BF6C27;
    outline: none;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    height: 6vh;
    border-radius: 4vh;
    text-align: center;
    }

#homebutton2 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #C89E4E;
    outline: none;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    height: 6vh;
    border-radius: 4vh;
    text-align: center;
    }

#homebutton3 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #BFB99A;
    outline: none;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    height: 6vh;
    border-radius: 4vh;
    text-align: center;
    }

#homebutton4 {
  margin-left: 25%;
  text-decoration: none;
  color: black;
  display: block;
  background-color: rgb(255, 255, 255);
  outline: none;
  font-size: 10%;
  line-height: 7vh;
  width: 50vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  border-width: thin;
  border-style: solid;
}

.linee {
  width: 100vw;
  border-color: rgb(0, 0, 0);
  margin-top: 100px;
}

footer {
    grid-area: ft;
    color: white;
    justify-content: center;
}

#info{
    float: left;
    color: black;
}

#skapa{
    float: left;
    margin-left: 35%;
    color: black;
}

#profil {
    float: left;
    margin-left: 70%;
    display: inline-block;
    color: black;
}

@media only screen and (max-width 500px){
  
}