* {
  box-sizing: border-box;
}
/* Detta  nedanför är för startsidan*/
#container {
    display: block;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-areas: 
    'nav nav nav'
    'mn mn mn'
    'ft ft ft'
}

nav {
  grid-area: nav;
  background-color: #003049;
  height: 17vh;
}

#sok-text {
  grid-area: nav;
  border: none;
  border-radius: 50px;
  padding: 3vh;
  font-size: 1em;
  width: 80vw;
  margin-top: 4vh;
  margin-left: 7vw;
  height: auto;
  text-align: center;
  color:rgb(255, 255, 255);
  background: #375468;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  grid-area: mn;
  width: 80vw;
  height: 20vh;
  display: flex;
  overflow-x: auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin-left: 10%;
}

#homebutton1 {
  grid-area: mn;
  line-height: 7vh;
  margin-left: 25%;
  text-decoration: none;
  color: black;
  display: block;
  background-color: #BF6C27;
  width: 50vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

#homebutton2 {
  grid-area: mn;
line-height: 7vh;
  margin-left: 25%;
  text-decoration: none;
  color: black;
  display: block;
  background-color: #C89E4E;
  width: 50vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

#homebutton3 {
  grid-area: mn;
  line-height: 7vh;
  margin-left: 25%;
  text-decoration: none;
  color: black;
  display: block;
  background-color: #BFB99A;
  width: 50vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

#homebutton4 {
  grid-area: mn;
    line-height: 7vh;
    margin-left: 25%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    background-color: rgb(216, 216, 216);
    width: 50vw;
    height: 6vh;
    border-radius: 4vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    
img{
  height: 7vh;
  grid-area: ft;
  margin: 10%;
  padding: 2vw;
  text-align: center;
}

.linje {
  box-sizing: border-box;
  grid-area: mn;
  margin-top: 5vh;
  width: 85vw;
  height: 1px;
  display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 10%;
}

/* Detta  nedanför är för utforksa-sidan*/
 #container2 {
  display: block;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-areas: 
  'hd hd hd hd'
  'navv navv navv'
  'mnn mnn mnn mnn'
 }

 header {
  grid-area: hd;
  background-color: #BF6C27;
  height: 17vh;
}

.forslag {
  grid-area: mn;
  width: 75vw;
  height: 20vh;
  display: flex;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  padding: 5vw;

}

h1{
  text-align: center;
}

.tillbaka {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  margin: 5%;
  font-size: 2em;
}

#nyheter {
  position: relative;
  grid-area: navv;
  line-height: 7vh;
  text-decoration: none;
  color: black;
  display: block;
  background-color: rgb(222, 222, 222);
  width: 25vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  margin: 10px;
}
#nyheter:hover {background-color: #bababa}

#topl {
  grid-area: navv;
  position: relative;
  line-height: 7vh;
  text-decoration: none;
  color: black;
  display: block;
  background-color: rgb(222, 222, 222);
  width: 25vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  margin: 10px;
}
#topl:hover {background-color: #bababa}


#dig {
  position: relative;
  grid-area: navv;
  line-height: 7vh;
  text-decoration: none;
  color: black;
  display: block;
  background-color: rgb(222, 222, 222);
  width: 25vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  margin: 10px;
}
#dig:hover {background-color: #bababa}

#dagens{
  position: relative;
  grid-area: navv;
  line-height: 7vh;
  text-decoration: none;
  color: black;
  display: block;
  background-color:rgb(222, 222, 222);
  width: 30vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
#dagens:hover {background-color: #bababa}

#slump {
  position: relative;
  grid-area: navv;
  line-height: 7vh;
  text-decoration: none;
  color: black;
  display: block;
  background-color: rgb(222, 222, 222);
  width: 20vw;
  height: 6vh;
  border-radius: 4vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  margin: 10px;
}
#slump:hover {background-color: #bababa}

#ramm1 {
  line-height: 3vh;
  border-style: solid;
  display: block;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  margin: 5px;
  margin-top: 3vh;
  border-radius: 15%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
#ramm1:hover {background-color: rgb(187, 187, 187)}

#ramm2 {
  line-height: 3vh;
  border-style: solid;
  display: block;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  margin: 5px;
  margin-top: 3vh;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
#ramm2:hover {background-color: rgb(92, 34, 34)}

#ramm3 {
  line-height: 3vh;
  border-style: solid;
  display: block;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  margin: 5px;
  margin-top: 3vh;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  background-color: rgb(181, 22, 120);
  font-family: Arial, Helvetica, sans-serif;
}
#ramm3:hover {background-color: rgb(154, 56, 134)}

#ramm4 {
  line-height: 3vh;
  border-style: solid;
  display: block;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  margin: 5px;
  margin-top: 3vh;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 33, 96);
  font-family: Arial, Helvetica, sans-serif;
}
#ramm4:hover {background-color: rgb(72, 69, 135)}

#ramm5 {
  line-height: 3vh;
  border-style: solid;
  display: block;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  margin: 5px;
  margin-top: 3vh;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  background-color: rgb(227, 166, 34);
  font-family: Arial, Helvetica, sans-serif;
}
#ramm5:hover {background-color: rgb(179, 174, 32)}

/* Detta  nedanför är för mitt bibliotek-sidan*/

#container3 {
    display: block;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-areas: 
    'h h h h'
    'mmn mmn mmn'
}

#biblan {
  grid-area: h;
  display: block;
  background-color: #BFB99A;
  font-family: Arial, Helvetica, sans-serif;
}

#prem {
  grid-area: mmn;
  width: 75vw;
  height: 20vh;
  display: flex;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  padding: 5vw;
}

#bok1 {
  display: block;
  border: solid black;
  height: 15vh;
  width: 10vw;
  margin: 15px;
}

#bok2 {
  display: block;
  border: solid black;
  height: 15vh;
  width: 10vw;
  margin: 15px;
}

#bok3 {
  display: block;
  border: solid black;
  height: 15vh;
  width: 10vw;
  margin: 15px;
}

#bok4 {
  display: block;
  border: solid black;
  height: 15vh;
  width: 10vw;
  margin: 15px;
}

#bok5 {
  display: block;
  border: solid black;
  height: 15vh;
  width: 10vw;
  margin: 15px;
}

#favoriter {
  grid-area: mmn;
  margin-top: 15px;
  width: 75vw;
  height: 20vh;
  display: flex;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  padding: 5vw;
}



.month {
  padding: 70px 25px;
  width: 100%;
  background: #ac9847;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #acac5b;
  color: white !important
}







  
    







