#container {
    display: grid;
    height: 100vh;
    width: auto;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-color: #003049;
    grid-template-areas: 
    'nav nav nav nav'
    'mn mn mn mn'
    'ft ft ft ft'
}

nav {
    grid-area: nav;
}

#sok-text {
    border: none;
    background: none;
    outline: none;
    padding: -5px;
    color:black;
    font-size: 1em;
    line-height: 5vh;
    width: 70vw;
    margin-left: 10%;
    margin-left: 5%;
    margin-top: 10%;
    grid-area: navv;
    background: #375468;
    height: 3vh;
    width: 80vw;
    border-radius: 40px;
    padding: 10px; 
    }

main {
    grid-area: mn;
    background-color: white;
}

#homebutton1 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #BF6C27;
    outline: none;
    padding: -5px;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    border-radius: 4vh;
    text-align: center;
    }

#homebutton2 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #C89E4E;
    outline: none;
    padding: -5px;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    border-radius: 4vh;
    text-align: center;
    }

#homebutton3 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: #BFB99A;
    outline: none;
    padding: -5px;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    border-radius: 4vh;
    text-align: center;
    }

#homebutton4 {
    margin-left: 25%;
    text-decoration: none;
    color: black;
    display: block;
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: -5px;
    font-size: 10%;
    line-height: 7vh;
    width: 50vw;
    border-radius: 4vh;
    text-align: center;
    border-width: thin;
    border-style: solid;
}

footer {
    grid-area: ft;
    color: white;
    justify-content: center;

}


